body {
  padding-top: 50px;
}

.jumbotron {
  margin-top: 20px;
  padding: 12px 15px;
  h1 {
    font-size: 40px;
  }
}

.container {
  h1 {
    &.page-title {
      text-align: center;
    }
  }
}

.dungeons-list {
  .dungeon-icon {
  }
  .dungeon-title {
    width: 200px;
    h2 {
      margin: 0;
      font-size: 20px;
    }
    p {
      font-weight: bold;
      font-size: 15px;
      margin: 5px 0 0 0;
    }
  }
  .dungeon-items {
    width: 182px;
    img { width: 30px; height: 30px; }
    .layer {
      margin: 5px 0;
      padding-bottom: 5px;
      border-bottom: 1px solid #ddd;
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; padding-bottom: 0; border-bottom: 0; }
    }
  }
  .dungeon-description {

  }
}


@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 24px 0;
  }
}
